/* muted background */
body {
    background-image: url("./Images/background-image.jpg");
}

/* navbar background color */
nav {
    background-color: rgb(248, 249, 250);
}

/* navbar brand and submit button background color */
.navbar-brand,
.pb-4 .btn {
    background-color: rgb(74, 170, 164);
}

/* navbar brand font and weight */
.navbar-brand,
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* navbar brand and submit button font color */
.navbar-light .navbar-brand,
.pb-4 .btn {
    color: white;
}

/* for main section header titles */
h1 {
    color: rgb(74, 170, 164);
}

/* for index about me selfie  */
.selfieImg {
    float: left;
    height: 180px;
    width: 180px;
}

/* to clear the float form the .selfieImg */
.clear {
    clear: both;
}

/* contact form submit button */
.pb-4 .btn {
    border-radius: 0%;
}

/* footer and footer paragraph styles */
footer,
footer p {
    background-color: rgb(102, 102, 102);
}

footer {
    border-top: solid;
    border-color: rgb(74, 170, 164);
    border-width: 6px;
}

footer p {
    color: rgb(108, 117, 125);
}