/* background */
body {
    font-family: 'Open Sans', sans-serif;
    /* background-image: url("./Images/gradient-background.jpg"); */
    /* background-image: url("./Images/gradient-background-2.jpg"); */
    /* background-image: url("./Images/gradient-background-3.jpg"); */
    /* background-image: url("./Images/background-image.jpg"); */
}

.about-me {
    background-color: #b19f9e;
}

.portfolio-background {
    background-color: #f4976c;
}

.position-stick {
    position: sticky;
    top: 15px;
}

/* submit button */
.submit-btn {
    background-color: #5680e9;
    border-radius: 50%;
}

.submit-background {
    background-color: #c1c8e4;
}

@media screen and (min-width: 577px) {
    h1 {
        font-size: 40px;
    }

    .contact-info {
        font-size: 20px;
    }
}

@media screen and (max-width: 576px) {

    h1,
    h2 {
        font-size: 25px;
    }

    .contact-info {
        font-size: 4vw;
    }

    .email-text {
        font-size: 3vw;
    }
}

/* navbar brand and submit button font color */
.navbar-brand,
.btn {
    color: white;
}

/* for main section header titles */
h1 {
    color: #2e151b;
}

/* for index about me selfie  */
.selfieImg {
    float: left;
    height: 180px;
    width: 180px;
}

/* to clear the float form the .selfieImg */
.clear {
    clear: both;
}

/* contact info section */
.contact-border-background {
    border-left: solid;
    border-left-color: gray;
    background-color: #5680e9;
}

.contact-header {
    color: white;
}

/* unvisited link */
a:link {
    color: rgb(115, 36, 206);
    /* font-size: 1.1rem; */
}

/* visited link */
a:visited {
    color: #123c69;
}

/* hover pseudoclass for when a user hovers the mouse pointer over the link */
a:hover {
    color: red;
    font-size: 1.3rem;
}

/* focus pseudoclass for when a user tabs over the links. When tabbed over, these links will change to the specified font-size and color*/
a:focus {
    font-size: 1.2rem;
    color: green;
}

/* active pseudoclass for a link that has been selected (mouse click pressed but not released) */
a:active {
    color: orange;
}

/* footer and footer paragraph styles */
footer,
footer p {
    background-color: #c1c8e4;
}

footer {
    border-top: solid;
    border-color: #314455;
    border-width: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p {
    color: rgb(108, 117, 125);
}